/* math related css settings 

some stuff from: https://www.w3.org/TR/MathML2/appendixg.html;

*/

math, math[mode="inline"] {
  display: inline;
  font-family: CMSY10, CMEX10, Symbol, Times;
  font-style: normal;
}

math[mode="display"] {
  display: block;
  text-align: center;
  font-family: CMSY10, CMEX10, Symbol, Times;
  font-style: normal;
}

mi {
    font-style: italic;
}